- content_for :title do
  Balances – All your digital currency balances in one place.

.header-bg
  %header
    %nav.animated.fadeInUp
      %ul.menu
        %li.logo
          %h1
            %span.top
            Balances
        %li= link_to 'Sign in', new_user_session_path, class: 'small clear white button'
        %li.ios= link_to 'Download for iOS', '#', class: 'small clear white button'
        %li.twitter= link_to 'balancesapp', 'https://twitter.com/balancesapp', target: '_blank'

    .animated.fadeInUp
      %h2 View all your digital currency balances in one place.
      %h4 Finally, a simple and secure way to view your bitcoin, litecoin, and dogecoin balances and their combined value.
      = link_to 'Get started', '#', class: 'large brand button'

    .screen.animated.fadeInUp

.unified-bg
  %section.unified
    %article
      %h3 Read-only wallet monitoring
      %p Enter your bitcoin, litecoin, and dogecoin addresses and view your balances on a single screen. See the combined value of all your wallets without risking the security of your coins.
    =image_tag('landing/screens@2x.png')
    %article
      %p
        Miner? Investor? Merchant?
        =link_to 'Download Balances for iOS', '#'
        and we'll send you push notifications any time you receive money.

/ .everywhere-bg
/   %section.everywhere
/     %article
/       =image_tag('landing/devices.svg')
/
.security-bg
  %section.security
    %h3 We're serious about security
    .large-4.columns
      =image_tag('landing/shield.svg')
      %h5 Best-in-class encryption
      %p
        We use AES 256-bit SSL to encrypt your traffic and sync your balances between your iOS devices and the
        =link_to 'secure server.', '#'

    .large-4.columns
      =image_tag('landing/oink.svg')
      %h5 We'll never sell your data
      %p We make money via iOS app sales – that's it. We don't sell data (even annonymously) to anyone, and we never will.

    .large-4.columns
      =image_tag('landing/audit.svg')
      %h5 Committed to the community
      %p
        We're committed to upholding the rigorous data security and privacy standards the community demands.
        =link_to 'Want to audit our source code?', 'mailto:balancesapp@gmail.com?subject=I want to audit Balances'

.currencies-bg
  %section.currencies
    %article
      =image_tag('landing/available-coins.svg')

%section
  %article
    %h3 Stop manually checking up on your cryptocurrency portfolio.
    = link_to 'Get started with Balances', '#', class: 'large brand button'
    = link_to 'Download Balances', '#', class: 'large brand button'
