- content_for :title do
  Balances – All your digital currency balances in one place.

.header-bg
  %header
    %nav.animated.fadeInDown
      %ul.menu
        %li.logo
          %h1
            %span.top
            Balances
        %li= link_to 'Log in', sign_in_path, class: 'small transparent button'
        %li.ios= link_to 'Download for iOS', '#', class: 'small clear white button'
        %li.signup= link_to 'Sign up free', sign_up_path, class: 'small blue button'

    .animated.fadeIn
      %h2 View all your digital currency balances in one place.
      %h4
        Finally, a simple and
        =link_to 'secure', '#security-bg', class: 'huh scroll-to', data: {'scroll-to' => '#security-bg'}
        way to view your Bitcoin, Litecoin, and Dogecoin balances and their combined value.

    .screen.animated.fadeIn
      =image_tag('landing/screencap.gif')

    .buttons.animated.fadeInUp
      = link_to 'Sign up free', sign_up_path, class: 'blue button'
      = link_to 'Try a demo', '#', class: 'clear white button'

    .mobile-button.animated.fadeInUp
      = link_to 'View on the App Store', '#', class: 'blue button'

    .wow.fadeIn{data: {'wow-delay' => '2s' }}
      = link_to '', '#unified-bg', class: 'read-more scroll-to', data: {'scroll-to' => '#unified-bg'}


#unified-bg
  %section.unified
    %article
      %h3 Read-only wallet monitoring
      %p Enter your bitcoin, litecoin, and dogecoin addresses and view your balances on a single screen. See the combined value of all your wallets without risking the security of your coins.
    =image_tag('landing/screens@2x.png', :class => 'preview')
    %article
      %p
        Miner? Investor? Merchant?
        =link_to 'Download Balances for iOS', '#'
        and we'll send you push notifications any time you receive money.

      =link_to image_tag('landing/app-store.svg'), '#', class: 'app-store'

/ .everywhere-bg
/   %section.everywhere
/     %article
/       =image_tag('landing/devices.svg')
/
#security-bg
  %section.security
    %h3 We're serious about security
    .large-4.columns
      =image_tag('landing/shield.svg')
      %h5 Best-in-class encryption
      %p
        We use AES 256-bit SSL to encrypt your traffic and sync your balances between your iOS devices and the secure server.

    .large-4.columns
      =image_tag('landing/oink.svg')
      %h5 We can't access your money
      %p
        We use the
        =link_to 'public blockchain', 'https://en.bitcoin.it/wiki/Block_chain', target: '_blank'
        to derive balance and transaction data, never your private keys. No one can access your money using the data you share with us.

    .large-4.columns
      =image_tag('landing/love.svg')
      %h5 We'll never sell your data
      %p
        We love our customers. We only make money from iOS app sales, non-tracking website ads, and
        =link_to 'donations.', 'bitcoin:12Rzu1UsUFnBFcdCicDp6VKc9JhRLum3TD'
        We don't sell
        %u any
        user data to anyone, and we never will.

#currencies-bg
  %section.currencies
    %article
      =image_tag('landing/available-coins.svg')

%section
  %article
    %h3 Stop manually checking up on your cryptocurrency portfolio.
    = link_to 'Start managing your portfolio', sign_up_path, class: 'large blue button'
