<section>
  <article class="large-6 medium-8 small-12 columns small-centered">
    <h2>Sign in</h2>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= devise_hacky_error_messages! %>

      <div><%= f.text_field :login, :autofocus => true, :placeholder => 'Username or Email Address', autocorrect: 'off', autocapitalize: 'off', autocomplete: 'off', spellcheck: 'false' %></div>

      <div><%= f.password_field :password, :placeholder => 'Password' %></div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me, :checked => 'checked' %> <%= f.label :remember_me %></div>
      <% end -%>

      <div><%= f.submit "Sign in" %></div>
    <% end %>

    <div class="devise-shared-links"><%= render "devise/shared/links" %></div>
  </article>
</section>
