%h2 Your Addresses

%table
  %thead
    %tr
      %th Currency
      %th Name
      %th Public Address
  %tbody
    - current_user.addresses.each do |w|
      %tr
        %td= w.currency
        %td= w.name
        %td= w.public_address

#addressListRegion


= link_to '+ Add Address', new_address_path

- content_for :javascript do
  :javascript
    $(function() {
      H.testing = #{@addresses.html_safe}
    });
