%h2 Your Addresses

%section
  %article.filters
    = link_to 'Sort by Name ▾', '#', class: 'sort-by', data: { dropdown: 'd-filters' }
    %ul#d-filters.f-dropdown{data: {dropdown_content: ''}}
      %li
        %a.current{href: '#', title: 'Sort by Name'} Name
      %li
        %a{href: '#', title: 'Sort by Number of Coins'} Number of Coins
      %li
        %a{href: '#', title: 'Sort by Value'} Value
      %li
        %a{href: '#', title: 'Sort by Currency Type'} Currency Type

    = link_to 'Balances ▾', '#', class: 'currency-type', data: { dropdown: 'd-balances' }
    %ul#d-balances.f-dropdown{data: {dropdown_content: ''}}
      %li
        %a.icon.all-currencies.current{href: '#', title: 'Show all balances'} All Balances
      %li
        %h6 Show as current value in...
      %li
        %a.icon.bitcoin{href: '#', title: 'Show values in Bitcoin'} Bitcoin
      %li
        %a.icon.litecoin{href: '#', title: 'Show values in Litecoin'} Litecoin
      %li
        %a.icon.dogecoin{href: '#', title: 'Show values in Dogecoin'} Dogecoin
      %li
        %h6.lighter Fiat Currencies
      %li
        %a.icon.usd{href: '#', title: 'Show values in US Dollar'} US Dollar
      %li
        %a.icon.euro{href: '#', title: 'Show values in Euros'} Euros
      %li
        %a.icon.gbp{href: '#', title: 'Show values in Pounds Sterling'} Pounds Sterling
      %li
        %a.icon.yen{href: '#', title: 'Show values in Japanese Yen'} Japanese Yen

  #address-list-region

= link_to '+ Add Address', new_address_path

- content_for :javascript do
  :javascript
    $(function() {
      B.currentUser = new B.Models.CurrentUser(
        #{@user.html_safe},
        {addresses: #{@addresses.html_safe}}
      );
      BalancesApp.start();
    });
